<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" >
        <link rel="stylesheet" href="media-query.css">
        <script src="https://kit.fontawesome.com/95fb04c6ee.js" crossorigin="anonymous"></script>
        <title> <%= client.user.username %> - developers </title>
    </head>
    <body>
        <!-- nav bar -->
        <nav class="default-nav">
            <img src=" <%= client.user.displayAvatarURL({ dynamic : true }) %> " alt="">
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
                <li><a href="/commands"><i class="fas fa-terminal"></i>&nbsp;Commands</a></li>
                <li><a href="/developers"><i class="fas fa-code"></i>&nbsp;developers</a></li>
                <% if(user){ %>
                    <% if(config.bot.owners.includes(user.id)){ %>
                        <li><a href="/admin-panel"><i class="fas fa-cogs"></i>&nbsp;admin</a></li>
                    <% } %>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;logout</a></li>
                <% } %>
            </ul>
        </nav>
        <nav class="mobile-nav">
            <ul>
                <li><a href="/"><i class="fas fa-home"></i></a></li>
                <li><a href="/commands"><i class="fas fa-terminal"></i>&nbsp;cmd's</a></li>
                <li><a href="/developers"><i class="fas fa-code"></i>&nbsp;dev's</a></li>
                <% if(user){ %>
                    <% if(config.bot.owners.includes(user.id)){ %>
                        <li><a href="/admin-panel"><i class="fas fa-cogs"></i>admin</a></li>
                    <% } %>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                <% } %>
            </ul>
        </nav>
        <div class="dev-content">
            <div class="info">
                <br>
                <img src="https://images-ext-2.discordapp.net/external/UdtMZxF0ZpnHJgW07ZPk4_xj9WPDItX7g_SOW1PueTQ/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/845021005897400361/8ff857cd04690d58f4fbddd89211b898.png?width=465&height=465" alt="">
                <br>
                <h1>A7MED#669</h1>
                <p>website developer</p>
                <div class="links">
                    <a href="https://www.instagram.com/1._.a7med._.1/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="https://github.com/A7MED6969" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                </div>
            </div>
            <div class="info">
                <br>
                <img src="https://images-ext-2.discordapp.net/external/UdtMZxF0ZpnHJgW07ZPk4_xj9WPDItX7g_SOW1PueTQ/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/845021005897400361/8ff857cd04690d58f4fbddd89211b898.png?width=465&height=465" alt="">
                <br>
                <h1>Moriano ,#4534</h1>
                <p>bot developer</p>
                <div class="links">
                    <a href="https://twitter.com/m0riano" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="https://www.facebook.com/Morian0/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="https://github.com/morian0" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                </div>
            </div>
            <div class="info">
                <br>
                <img src="https://cdn.discordapp.com/avatars/919372339559415848/91c17a6a9f0eea880c616e20769c10a3.png?size=1024" alt="">
                <br>
                <h1>M7md#0088</h1>
                <p>bot designer</p>
                <div class="links">
                    <a href="https://www.instagram.com/m7md._.mahdi/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="https://github.com/TC-Mohammad" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                </div>
            </div>

        </div>
        
    </body>
</html>

