<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="admin.css" >
        <script src="https://kit.fontawesome.com/95fb04c6ee.js" crossorigin="anonymous"></script>
        <title> <%= client.user.username %> - time convertor </title>
    </head>

    <body>
        <!-- nav bar -->
        <nav>
            <img src=" <%= client.user.displayAvatarURL({dynamic : true}) %> ">
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
                <li><a href="/commands"><i class="fas fa-terminal"></i>&nbsp;Commands</a></li>
                <li><a href="/developers"><i class="fas fa-code"></i>&nbsp;developers</a></li>
                <li><a href="/time-convertor"><i class="fas fa-clock"></i>&nbsp;Time Convertor</a></li>
            </ul>
        </nav>

        <center>
            <div class="convertor-div">
                <form class="convertor" oninput="x.value=parseInt(a.value)*60000">
                    <input type="number" id="a" name="a" placeholder="time in minutes"></input>
                    <br>
                    <br>
                    <output name="x" for="a" ></output>
                </form>
            </div>
        </center>
    </body>
</html>